html {
  background-color: #2d2d37;
}

h1 {
  text-align: center;
  color: #e64944;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

li {
  color: white;
  background-color: #e64944;
  list-style-type: none;
  display: inline;
  padding: 5px 10px;
}